/*
INFO: 
	project: coctail form
	browsers: opera/chrome/FF/ie9/safari
	width: 
	columns:
	markup: Sergey Kalinin 06/2016 (prozaik81-2@yandex.ru)
	use: jq, bootstrap, underscore, backbone, backbone-validation
	desc: 	
	version 1
*/	

/****************************************************************************** COMMON_STYLES */
.coctail_form .hide{
	display: none !important;
}

.coctail_form .show{
	display: block !important;
}

.coctail_form .not_valid{
	border: 1px solid red;
}

.coctail_form .valid{
	border: 1px solid #ccc;
}

.coctail_form{
	width: 700px;
	margin: 0 auto;
}


/****************************************************************************** GLOBAL_layout */




/****************************************************************************** GLOBAL_blocks: modal */
.modal-body{
	overflow: hidden;
}


/****************************************************************************** GLOBAL_blocks: page_stemware */
.stemware_unit{
  float: left;
  position: relative;
  width: 102px;
  height: 146px;
  border: 1px solid #8c969f;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 9px;
  margin-bottom: 10px;
}

	.stemware_unit img{
		display: block;
		margin: 0 auto;
		margin-top: 20px;
    width: 50px;
    height: 60%;		
	}

	.stemware_unit .label{
    position: absolute;
    left: 0px;
    width: 100px;
    height: 29px;
    border-top: 1px solid #68a6d5;
    bottom: 0;
    color: white;
    font: 13px/24px Arial, sans-serif;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    background-image: -webkit-linear-gradient(#8ec0e9 0px, #8ec0e9 2px, rgba(140,191,233,0.8) 2px, rgba(94,146,209,0.8));
    background-image: -moz-linear-gradient(#8ec0e9 0px, #8ec0e9 2px, rgba(140,191,233,0.8) 2px, rgba(94,146,209,0.8));
    background-image: -ms-linear-gradient(#8ec0e9 0px, #8ec0e9 2px, rgba(140,191,233,0.8) 2px, rgba(94,146,209,0.8));
    background-image: -o-linear-gradient(#8ec0e9 0px, #8ec0e9 2px, rgba(140,191,233,0.8) 2px, rgba(94,146,209,0.8));
    background-image: linear-gradient(#8ec0e9 0px, #8ec0e9 2px, rgba(140,191,233,0.8) 2px, rgba(94,146,209,0.8));
    z-index: 100;		
	}

	.stemware_unit .label:hover {
	    opacity: 0.8;
	    background-image: -webkit-linear-gradient(#62a2d6, #3668a6);
	    background-image: -moz-linear-gradient(#62a2d6, #3668a6);
	    background-image: -ms-linear-gradient(#62a2d6, #3668a6);
	    background-image: -o-linear-gradient(#62a2d6, #3668a6);
	    background-image: linear-gradient(#62a2d6, #3668a6);
	}	


/****************************************************************************** GLOBAL_blocks: load_img_box */
.load_img_box{

}

	.load_img_frame{
		width: 102px;
		height: 142px;
		padding: 5px;
		background: #6fa8de;
		border: 1px solid #8c969f;
		-webkit-box-shadow: inset 0 0 0 5px #fff;
		-moz-box-shadow: inset 0 0 0 5px #fff;
		box-shadow: inset 0 0 0 5px #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px; 
	}

		.load_img{
	    display: block;
	    margin: 0px auto 0 auto;
	    width: 74px;
	    height: 131px;
		}

		.load_img_loaded{
			width: 100%;
			height: auto;
		}		

	.load_img_button_outer:hover{
		opacity: 0.8;
	}

	.load_img_button_outer{
    position: relative;
    margin-top: 7px;
    width: 102px;
    height: 22px;
    background-image: -webkit-linear-gradient(#5699ce, #2c5a93);
    background-image: -moz-linear-gradient(#5699ce, #2c5a93);
    background-image: -ms-linear-gradient(#5699ce, #2c5a93);
    background-image: -o-linear-gradient(#5699ce, #2c5a93);
    background-image: linear-gradient(#5699ce, #2c5a93);	
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;     
		cursor: pointer;	
	}

	.load_img_label{
		color: #fff;
		text-align: center;
	}

	.load_img_button{
		display: none !important;
	}

/****************************************************************************** GLOBAL_blocks: navigation_box */
.navigation_box{

}

	.navigation_box .navLink{
		font-weight: normal;
		text-decoration: none;
		color: #000;

		display: block;
	}

	.navigation_box .navLink.active{
		font-weight: bold;
	}
