/*
INFO: 
	project: coctail form
	browsers: opera/chrome/FF/ie9/safari
	width: 
	columns:
	markup: Sergey Kalinin 06/2016 (prozaik81-2@yandex.ru)
	use: jq, bootstrap, underscore, backbone, backbone-validation
	desc: 	
	version 1
*/	

/****************************************************************************** COMMON_STYLES */
.coctail_form .hide{
	display: none !important;
}

.coctail_form .show{
	display: block !important;
}

.coctail_form .not_valid{
	border: 1px solid red;
}

.coctail_form .valid{
	border: 1px solid #ccc;
}

.coctail_form{
	width: 700px;
	margin: 0 auto;
}


/****************************************************************************** GLOBAL_layout */




/****************************************************************************** GLOBAL_blocks: modal */
.modal-body{
	overflow: hidden;
}


/****************************************************************************** GLOBAL_blocks: navigation_box */
.navigation_box{

}

	.navigation_box .navLink{
		font-weight: normal;
		text-decoration: none;
		color: #000;

		display: block;
	}

	.navigation_box .navLink.active{
		font-weight: bold;
	}
